/* Custom styles */
html, body {
    background-color: black; /* Setting both HTML and body background to black */
    color: white; /* Setting text color to white */
}

/* Header styles */
header {
    background-color: #8B0000; /* Dark red */
}

/* Footer styles */
footer {
    background-color: #8B0000; /* Dark red */
}
